<div class="col-lg-5">
    <form action="" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)" class="col-lg-10">
        <h1>{{title}}</h1>
        <br>
        <div class="alert alert-success" *ngIf="status == 'success'">
            Datos actualizados correctamente
        </div>
        <div class="alert alert-danger" *ngIf="status == 'error'">
            El email ya esta en uso por otro usuario
        </div>
        <div class="form-group">
            <label>Foto de Perfil</label>
            <div *ngIf="user.image">
                <img src="{{url+'get-image-user/'+user.image}}" width="150" class="rounded-circle" alt="">
            </div>
            <br>
            <input type="file" class="form-control" placeholder="Subir imagen" (change)="fileChangeEvent($event)">
        </div>

        <div class="form-group">
            <label for="Nombre">Nombres</label>
            <input required type="text" class="form-control" id="Nombre" name="name" #name="ngModel" [(ngModel)]="user.name">
            <small *ngIf="!name.valid && name.touched" class="form-text text-danger">El nombre es obligatorio</small>
        </div>
        <div class="form-group">
            <label for="Apellidos">Apellidos</label>
            <input required type="text" class="form-control" id="Apellidos" name="surname" #surname="ngModel" [(ngModel)]="user.surname">
            <small *ngIf="!surname.valid && surname.touched" class="form-text text-danger">El apellido es obligatorio</small>
        </div>
        <div class="form-group">
            <label for="Nickname">Nickname</label>
            <input required type="text" class="form-control" id="Nickname" name="nick" #nick="ngModel" [(ngModel)]="user.nick">
            <small *ngIf="!nick.valid && nick.touched" class="form-text text-danger">El nickname es obligatorio</small>
        </div>
        <div class="form-group">
            <label for="Email">Email</label>
            <input required type="email" class="form-control" id="Email" name="email" #email="ngModel" [(ngModel)]="user.email">
            <small *ngIf="!email.valid && email.touched" class="form-text text-danger">El email es obligatorio</small>
        </div>
        
        <button type="submit" class="btn btn-warning btn-lg" [disabled]="!userEditForm.form.valid">{{title}}</button>
    </form>
</div>
